{% extends 'coza/base.html' %}
{% block content %}

<div class="containe mt-5">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Customer Login Form
			</span>
		</div>
	</div>

		<div class="container">
			<div class="row">
				<div class="col-sm-5 mx-auto">
                {% if error %}
                <p class="alert alert-danger">{{error}}</p>
                {% endif %}
                     <form method="POST" action="">
                        {% csrf_token %} 
						{% for field in form %}
                        	{{field.errors}}{{field.label_tag}}{{field}}
						{% endfor %}
                        <button class="btn btn-primary mt-2" >Login</button>
                    </form>
				</div>
			</div>
		</div>

{% endblock %}